<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entry</key>
	<dict>
		<key>cell</key>
		<string>PSLinkCell</string>
		<key>label</key>
		<string>VolumeBar</string>
	</dict>
	<key>title</key>
	<string>VolumeBar</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerCellClass</key>
			<string>VolumeBarTitleCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Respring the device after every change before using the volume buttons.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>me.cgm616.volumebar</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enable</string>
			<key>default</key>
			<true/>
			<key>PostNotification</key>
			<string>me.cgm616.volumebar/preferences.changed</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
      <string>© Copyright 2015 cgm616</string>
		</dict>
		<dict>
      <key>cell</key>
      <string>PSLinkCell</string>
	    <key>isController</key>
	    <string>1</string>
	    <key>label</key>
	    <string>Banner Settings</string>
	    <key>icon</key>
      <string></string>
	    <key>detail</key>
	    <string>VolumeBarBannerListController</string>
    </dict>
		<dict>
      <key>cell</key>
      <string>PSLinkCell</string>
	    <key>isController</key>
	    <string>1</string>
	    <key>label</key>
	    <string>Animation Settings</string>
	    <key>icon</key>
      <string></string>
	    <key>detail</key>
	    <string>VolumeBarAnimationListController</string>
    </dict>
		<dict>
      <key>cell</key>
      <string>PSLinkCell</string>
	    <key>isController</key>
	    <string>1</string>
	    <key>label</key>
	    <string>Credits</string>
	    <key>icon</key>
      <string></string>
	    <key>detail</key>
	    <string>VolumeBarCreditListController</string>
    </dict>
		<dict>
      <key>cell</key>
      <string>PSLinkCell</string>
	    <key>isController</key>
	    <string>1</string>
	    <key>label</key>
	    <string>About</string>
	    <key>icon</key>
      <string></string>
	    <key>detail</key>
	    <string>VolumeBarAboutListController</string>
    </dict>
	</array>
</dict>
</plist>
